.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-next:before,
.slick-prev:before {
  font-size: 20x;
  color: black;
  line-height: 17;
}

.slick-dots {
  bottom: -40px;
}

.slick-dots li button:before {
  font-size: 15px;
}

.ui.segment:last-child {
  margin-bottom: 10px;
}
